<!DOCTYPE html>
<html lang="en">

<head>
  <title>Messages</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/listings.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/messages.css" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/listings.js"></script>
  <script defer src="/scripts/messages.js"></script>
</head>
<body>
<%- include('partials/_nav') %>
<% if (userId) {%>
<section class="chat-container">
  <div class="sidebar">
    <ul class="chat-list">
    </ul>
  </div>
  <% if (typeof chatHistoryExists !== 'undefined' && chatHistoryExists !== null) { %>
  <span id="listing-data-carrier" 
    data-chat-history="<%= chatHistoryExists %>"
    data-seller-id="<%= sellerId %>"
    data-listing-id="<%= listing.id %>"
    data-user-id="<%= userId %>"
    data-title="<%= listing.title %>"
    data-description="<%= listing.description %>"
    data-price="<%= listing.price %>"
    data-category="<%= listing.category %>"
    data-stock="<%= listing.stock %>"
    data-is-featured="<%= listing.is_featured %>"
    data-image-url="<%= listing.image_url %>"
    data-is-deleted="<%= listing.is_deleted %>"
    data-first-name="<%= listing.first_name %>"
    data-last-name="<%= listing.last_name %>"
    ></span>
    <% } %>
  <section class="focused-chat-container">
  <section class="chat-title">
  </section>
  <section class="chat-message-box">
  <section class ="chat-records">
  </section>
  <form action="/messages/sendmessage" method="post" id="message-form">
  <section class="message-box">
  <input type="text" class="message-input" name="message" placeholder="Send a message.." label="message-box">
  <span class="fa-solid fa-paper-plane"></span>
  </section>
  </form>
</section>
</section>
</section>
<% } else {%>
  <h3 id="error-msg">You must be logged in to view your messages!</h3>
<% } %>
</body>

</html>